* {
	font-family: 'Montserrat Alternates', sans-serif;
	margin:0;
	padding:0;
	border:0;
	color: white
}

/* HEADER */

#header {
	color: rgb(250, 50, 100);
	text-align: center;
	background: rgb(150, 50, 50);

}

/*Background*/

#landing {
	background-image: 

	linear-gradient(
		rgba(50, 0, 0, 0.59),
		rgba(50, 0, 0, 0.59)
	),
	url("./images/bg.jpg");
	background-repeat: no repeat;
	background-size: cover;
	padding-bottom: 30px;
}

#image {
	border-radius: 50%;
	width: 300px;
	height: 300px;
	padding-top: 1em;
	float: left;
	padding-right: 1em;
	display: inline-block;
}

#info {
	
	padding-right: 1em;
	padding-left: 1em;
	
}

#info1 {
	
	padding-right: 1em;
	padding-left: 1em;

}

#info2 {
	
	padding-right: 1em;
	padding-left: 1em;
}

#info3 {
	
	padding-right: 1em;
	padding-left: 2em;
}

#note {
	color: rgb(250, 50, 100);
}

#born {
	color: rgb(250, 50, 100);
	padding-bottom: 300px;
}