* {
	font-family: 'Montserrat', sans-serif;
}


/* TEXT  */
#header {
	float: left;
	width: 35%;
	margin: 300px 0px 0px 50px;
	display: inline-block;
	clear: both;
}

#header1 {
	color: #1877f2;
	font-weight: 800 !important;
}
/*end of text*/

/*FORM*/
#form {
	display: inline-block;
	border: solid .10px;
	border-color: whitesmoke;
	float: right;
	width: 50%;
	margin: 250px 50px 0px 0px;
	padding: 50px;
	text-align: center;
	border-radius: 6px;
	box-shadow: 0 2px 4px rgb(0, 0, 0, 10%), 0 8px 16px rgb(0, 0, 0, 10%);
	


}

#name {
	width: 100%;
	padding: 10px 5px 10px 5px;
	font-family: 'Montserrat', sans-serif;
	border-radius: 6px;
	border: solid .1px;
	border-color: gray;
	margin: 0 0 10px 0;
	outline: none;

}

#name:hover {
	border-color: blue;
}

#name:focus {
	border: 2px solid #1877f2;
	border-color: #1877f2;
}

#password:hover {
	border-color: blue;
}

#password:focus {
	border: 2px solid #1877f2;
	border-color: #1877f2;
}

#password {
	width: 100%;
	padding: 10px 5px 10px 5px;
	font-family: 'Montserrat', sans-serif;
	border-radius: 6px;
	border: solid .1px;
	border-color: gray;
	margin: 5px 0 5px 0;
	outline: none;
}

#login {
	width: 100%;
	background-color: #1877f2;
	border-color: #1877f2;
	padding: 10px 5px 10px 5px;
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 25px;
	font-weight: bold;
	border-radius: 6px;
	margin: 10px 0 20px 0;
	box-shadow: 0 0;


}

#hr {
	margin: 20px 0 0 0;
}

#create {
	width: 70%;
	padding: 10px 5px 10px 5px;
	background-color: #42b72a;
	border-color: #42b72a;
	color: white;
	font-weight: bold;
	border-radius: 6px;
	margin: 30px 30px 0 30px;


}

/* end of form */

#last {
	
	clear: both;
	padding-top: 40px;
	text-align: right;
	margin-right: 110px;
}

#last2 {
	font-weight: bold;
}
